<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="page-header">{{addRecipeForm.controls["recipename"].value}}</h1>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe()">
        <div class="form-group">
            <label for="recipename">Recept neve</label>
            <input type="text" class="form-control" id="recipename" name="recipename" placeholder="Add meg a recepted nevét" formControlName="recipename">
        </div>
        <div class="form-group">
            <label for="recipeimage">Kép</label>
            <input type="file" ng2FileSelect [uploader]="uploader" name="uploadfile" />
        </div>
        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="fileUpload()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
        </div>
        <div class="form-group">
            <label for="description">Elkészítés</label>
            <textarea class="form-control" rows="10" id="description" placeholder="Írd le hogyan is készül az étel" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label for="add">Hozzávalók listája:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="hozzavalok.length > 0">
                        <div *ngFor="let item of hozzavalok">
                            <div class="col-xs-10">{{item.name}}</div>
                            <div class="col-xs-2">
                                <i class="fa fa-minus-circle removebutton" aria-hidden="true" (click)="removeItem(item)"></i>
                            </div>
                        </div>

                    </div>
                    <div class="emptyarray" *ngIf="hozzavalok.length < 1">Még nem adtál hozzávalót</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="add">Hozzávaló hozzáadása</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="ujhozzavalo" placeholder="Új hozzávaló" formControlName="ujhozzavalo">
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-plus-circle addbutton" aria-hidden="true" (click)="newItem()"></i>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Mentés</button>
    </form>

</div>
<hr>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>{{modal_text}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->