.displayimage {
    max-width: 400px;
    width: 100%;
}

h2 {
    font-family: 'Josefin Sans Semibold', sans-serif;
}

.editicon {
    font-size: 16px;
    cursor: pointer;
}

.breakline {
    white-space: pre-line;
}

.hozzavalokdiv {
    background-color: rgba(212, 205, 205, 0.3);
}