<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <h2>{{recipeload.recipename}}</h2>
            <p>(Létrehozva: {{recipeload.createdate}})</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <img src="{{recipeload.imagefilename}}" class="img-responsive displayimage img-thumbnail">
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Hozzávalók:</h3>
            <ul>
                <li *ngFor="let item of recipeload.ujhozzavalo">{{item.name}}</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Elkészítés:</h3>
            <p>{{recipeload.description}}</p>
        </div>
    </div>
</div>
<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright © Mókus Konyha Kft. 2017</p>
        </div>
    </div>
    <!-- /.row -->
</footer>