@font-face {
    font-family: Muli;
    src: url("/fonts/Muli-Bold.ttf");
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item {
    width: 190px;
    max-height: 175px;
    margin: 10px;
}

.thumbnail {
    height: 165px;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.thumbnail-title {
    text-align: center;
    top: -77px;
    height: 77px;
    width: 100%;
    display: table;
    position: relative;
    background: rgba(249, 245, 245, 0.79);
}

.thumbnail-title a {
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

.thumbnail-title h3 {
    font-size: 15px;
}

.filterContainer {
    padding-top: 15px;
    background: ghostwhite;
}

@media only screen and (max-device-width: 700px) {
    .flex-item {
        width: 230px;
        height: auto;
        margin: 0 auto;
    }
}