@font-face {
    font-family: Muli;
    src: url("/fonts/Muli-Bold.ttf");
}

@font-face {
    font-family: JosefinSansLightItalic;
    src: url("/fonts/JosefinSans-LightItalic.ttf");
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item {
    width: 255px;
    max-height: 320px;
    margin: 10px;
}

.thumbnail {
    height: 165px;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.thumbnail-title {
    text-align: center;
    top: -77px;
    height: 77px;
    width: 100%;
    display: table;
    position: relative;
    background: rgba(249, 245, 245, 0.79);
}

.thumbnail-title a {
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

.thumbnail-title h3 {
    font-size: 15px;
}

.filterContainer {
    padding-top: 15px;
    background: ghostwhite;
}

.recipeitem {
    border: 1px solid rgba(173, 156, 156, 0.2);
    height: 100%;
}

.recipeitem-thumbnail {
    height: 165px;
}

.recipeitem-thumbnail .floatRate {
    position: absolute;
    top: 119px;
    background: rgba(21, 10, 10, 0.5);
    padding: 10px;
    left: 26px;
    font-size: 25px;
    color: white;
}

.recipeitem-thumbnail img {
    height: 100%;
    width: 100%;
}

.recipeitem-createdate {
    text-align: right;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 5px;
    font-family: JosefinSansLightItalic;
}

.recipeitem-name {
    text-align: center;
    height: 79px;
}

.recipeitem-name h2 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22px;
}

.recipeitem-name a:hover {
    text-decoration: none;
}

.recipeitem-info .row {
    padding: 0;
    border-top: 1px solid rgba(173, 156, 156, 0.2);
}

.recipeitem-info .leftbox {
    padding: 7px 15px;
    background-color: rgba(249, 227, 227, 0.3);
    border-right: 1px solid rgba(187, 172, 172, 0.4);
}

.recipeitem-info .rightbox {
    padding: 7px 15px;
    background-color: rgba(249, 227, 227, 0.3);
}

@media only screen and (max-device-width: 700px) {
    .flex-item {
        width: 230px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .recipeitem-thumbnail .floatRate {
        left: 51px;
    }
    .recipeitem-info .rightbox {
        padding: 7px 10px;
    }
    .recipeitem-info .leftbox {
        padding: 7px 10px;
    }
}