<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 filterContainer">
            <filter></filter>
        </div>
        <div class="col-xs-12 col-sm-9">
            <!-- Page Header -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Receptek
                        <small>{{food?.length}} db</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <div class="flex-container">
                <div class="flex-item" *ngFor="let item of food">
                    <div class="thumbnail">
                        <img src="{{item.imagefilename}}">
                    </div>
                    <div class="thumbnail-title">
                        <h3><a href="#" [routerLink]="['./display', item._id]">{{item.recipename}}</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright © Mókus Konyha Kft. 2017</p>
        </div>
    </div>
    <!-- /.row -->
</footer>